/*////////////////////////////////////////////////////////////////////////////
/////////////////////  Generales  ///////////////////////////////////
////////////////////////////////////////////////////////////////////////////*/

:root {
   --primary: #19426D;
   --secondary: #036489;
   --tertiary: #438683;
   --gray: #3C3C3B;
   --lightgray: #EAEAEA;
   --jost: 'Jost',
      sans-serif;
}

* {
   scroll-behavior: smooth;
}

body {
   font-family: 'Jost',
      sans-serif;
   color: var(--gray);
   background-color: white;
}

p {
   font-size: 18px;
}

h1 {
   font-size: 60px;
   font-weight: 400;
   line-height: 1.1;
}

h2 {
   font-size: 50px;
   font-weight: 400;
}

section {
   overflow: hidden;
}

.lh-100 {
   line-height: 1;
}
.lh-125 {
   line-height: 1.2;
}

.secondary {
   color: var(--secondary);
}

.tertiary {
   color: var(--tertiary);
}

.fw-300 {
   font-weight: 300;
}

.primary-bg {
   background: var(--primary);
}

.secondary-bg {
   background: var(--secondary);
}

.tertiary-bg {
   background: var(--tertiary);
}

.lightgray-bg {
   background: var(--lightgray);
}

.divider {
   width: 100%;
   height: 8px;
   background-image: url(../images/trazado.png);
}

.hvr-grow {
   transition: .3s;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
   transform: scale(1.1);
}

/*////////////////////  Header //////////////////////////////////*/
.menu-overlay {
   width: 100%;
   height: 100px;
   background-color: #fff;
   z-index: 5;
   position: fixed;
   top: 0;
   transition: transform .4s .2s;
   opacity: 0;
}

.menu-in {
   transition: opacity .3s .2s;
   opacity: 1;
}

.menu-shadow {
   -webkit-box-shadow: 0 10px 6px -6px rgba(19, 19, 19, 0.226);
   -moz-box-shadow: 0 10px 6px -6px rgba(19, 19, 19, 0.226);
   box-shadow: 0 10px 6px -6px rgba(19, 19, 19, 0.226);
}

.header-logo {
   height: 80px;
}

.navbar {
   align-items: flex-end !important;
   padding: 10px 0px;
}

.nav-link {
   text-transform: uppercase;
   color: var(--gray) !important;
   transition: .3s;
}

.nav-link::before {
   content: "";
   position: absolute;
   height: 2px;
   width: 0px;
   background-color: var(--secondary);
   top: 0;
}

.nav-link:hover::before {
   transform: scaleX(1);
   transition: linear .3s;
   width: 25px;
   opacity: 1;
}

.nav-link:hover {
   color: var(--secondary) !important;
}

.nav-item {
   position: relative;
}

.navbar-nav .nav-item {
   color: var(--gray) !important;
}

.nav-item.active .nav-link,
.navbar-nav .nav-item.active .nav-link {
   color: var(--secondary) !important;
}

.nav-item.active ::before {
   content: "";
   position: absolute;
   height: 2px;
   width: 25px;
   background-color: var(--secondary);
}

.bsnav-sticky.bsnav-sticky-fade {
   position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-nav .nav-link {
   padding: 3px 15px 0px 15px;
}

.bsnav.bsnav-sticky.bsnav-sticky-fade.sticked.in {
   padding: 10px 15px;

}

.bsnav-sticky.bsnav-sticky-fade.sticked.in {
   max-width: 1140px;
   margin: 0 auto;
   background-color: #fff;
   top: 0;

}

.bsnav-mobile .navbar {
   height: 100%;
   display: flex;
   justify-content: end;
}

/*////////////////////  Profesionales  //////////////////////////////////*/
.profesionales .card-body .card-title {
   font-size: 20px;
}

.profesionales .card-body span {
   font-size: 14px;
}

.profesionales .card-body .card-text {
   font-size: 16px;
   font-weight: 300;
}

.profesionales .card,
.abogadas .card {
   height: 100%;
}

.profesionales .card .card-body,
.abogadas .card .card-body {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

/*////////////////////  NOMBRE DE MODULO  //////////////////////////////////*/
.card.servicios-card {
   min-height: 350px;
   width: 100%;
   padding: 5px;
}

.card.servicios-card .card-body {
   transition: .3s;
   width: 100%;
   height: 100%;

}

.card.servicios-card .card-text {
   font-size: 36px;
}

.right-content {
   margin: 5px;
   position: relative;
   height: 100%;
   max-height: 690px;
}

.servicios-img {
   width: 100%;
   height: 100%;
   object-fit: cover;

}

.image-overlay {
   position: absolute;
   bottom: 0;
   padding: 25px 15px;
   text-align: center;
   left: 0;
   background: rgb(0, 0, 0);
   background: linear-gradient(0deg, rgba(0, 0, 0, 1) 17%, rgba(0, 0, 0, 0) 65%);
   height: 40%;
   width: 100%;
   display: flex;
   align-items: end;
}

.var2 {
   background-color: #05516D;
}

.var2:hover,
.card.servicios-card .card-body.secondary-bg:hover {
   background-color: #003244 !important;
}

.text-container {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: -5;
   opacity: 0;
   left: 0;
   transition: all .5s;
   padding: 5px;
}

.opacity {
   opacity: 1;
   z-index: 5;
}

.text-overlay {
   padding: 10%;
   border: 1px solid var(--lightgray);
   background: var(--lightgray);
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.text-overlay.contable-overlay{
   padding: 5% !important;
   border: 1px solid var(--lightgray);
   background: var(--lightgray);
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.text-overlay.contable-overlay p{
   padding-left: 30px;
}
.btn-link-contable {
   position: absolute;
   bottom: 20px;
   right: 20px;
}
.fs-40 {
   font-size: 38px;
}
.btn-link {
   text-transform: uppercase;
   border: 0;
   font-size: 14px;
   background-color: transparent;
   text-align: right;
   color: var(--gray);
}

.btn-link:hover {
   text-decoration: none;
   color: var(--secondary);
}

.btn-link:hover::before {
   margin-right: 9px;
}

.btn-link::before {
   content: "\f30a";
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   color: currentColor;
   margin-right: 5px;
   transition: .3s;
}

/* Seccion en Responsive */
.accordion .card-header button {
   font-size: 24px;
   text-transform: uppercase;
   color: #fff;
   padding: 25px
}

.accordion .card-header button:focus {
   outline: none;
   box-shadow: none;
}

.accordion .card-body {
   background: var(--lightgray);
}

.accordion .card-header:hover {
   background-color: #003244 !important;
}

/*////////////////////  CLIENTES  //////////////////////////////////*/
.clientes li {
   list-style: none;
   padding: 10px 0px;
   border-bottom: 1px solid var(--lightgray);
}

/*////////////////////  FOOTER  //////////////////////////////////*/

footer {
   background: var(--secondary);
}

footer p {
   font-size: 16px;
   font-weight: 300;
}

.social-media-icon {
   width: 45px;
   height: 45px;
   border: 1px solid #fff;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   transition: .3s;
}

.social-media-icon:hover {
   background-color: #fff;
   text-decoration: none;
}

.social-media-icon:hover i {
   color: var(--secondary);
   transform: scale(1.3);
}

.social-media-icon i {
   color: #fff;
   font-size: 21px;
   transition: .5s;
}

.contact-info {
   border-bottom: 1px solid rgba(255, 255, 255, 0.384);
}

footer img {
   width: 145px;
}


@media (max-width: 1024px) {
     .bsnav-sticky.bsnav-sticky-fade.sticked.in {
        max-width: 960px;
     }
   h2 {
      font-size: 40px;

   }
}

@media (max-width: 768px) {
   .bsnav-sticky.bsnav-sticky-fade.sticked.in {
      max-width: 720px;
   }
   .navbar {
      align-items: flex-start !important;
      padding: 10px 0px;
   }

   .menu-shadow {
      box-shadow: none;
   }

   .navbar .navbar-nav {
      padding: 20px;
   }

   .bsnav-mobile .navbar {
      border-bottom: 5px solid var(--secondary);
   }

   .bsnav-mobile .navbar-nav .nav-item .nav-link {
      padding: 15px 0;
   }

   h2 {
      font-size: 32px;

   }

   .card.servicios-card .card-text {
      font-size: 26px;
   }

   .card.servicios-card {
      min-height: 307px;
   }

   .right-content {

      max-height: 604px;
   }

   .text-overlay p {
      font-size: 16px;
   }
   .text-overlay.contable-overlay p {
      line-height: 1.2;
   }

}


@media (max-width: 576px) {

.filosofia .container .row {
   flex-direction: column-reverse;
}

   .main img {
      min-height: 390px;
      width: 100%;
      object-fit: cover;
   }

   .bsnav.bsnav-sticky.bsnav-sticky-fade.sticked.in {
      padding: 10px 15px;
      border-bottom: none;
   }

   .servicios-img {
      width: 100%;
      height: 350px;
      object-fit: cover;
   }

}
